/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  font-family: 'Merriweather', Helvetica;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #666; text-decoration: none; }
a:hover   { color: #666; }
a:visited { color: #666; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.post-date {
  color: #888;
  font-size: 15pt;
}

.post-title {
  font-size: 15pt;
  color: #666;
}

.post-content {
  font-size: 11pt;
  color: #888;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.about-me {
  background: #024d61;
  color: #eee;
  padding: 10px;
  text-align: left;
  height: 120px;
}

.about-me-inner {
  width: 60em;
  margin: 0 auto;
}

.my-profile-picture {
  float: left;
  padding: 5px;
  padding-bottom: 3px;
  background: #fff;
}

.my-profile-picture img {
  width: 150px;
}

.about-me-text-container {
  float: left;
  margin-left: 30px;
}

.my-name {
  margin-top: 15px;
  font-size: 17pt;
}

.intro-text {
  font-size: 10pt;
  margin-top: 5px;
}

.intro-text a {
  color: #eee;
}

.site {
  font-size: 115%;
  text-align: justify;
  width: 45em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  font-size: 11pt;
  color: #333;
}

.post img {
  width: 45em;
}

.post .image_caption {
  width: 40em;
  margin: -1em auto 0 auto;
  text-align: center;
  font-size: 10pt;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
