body {
  margin: 0;
  background-color: #AFDED4;
}

p {
  margin: 10px 0;
}

a         {
  color: #666; text-decoration: none;
}

a:hover   {
  color: #666;
}

a:visited {
  color: #333;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#home {
  margin-top: 20px;
}

.container {
  max-width: 800px;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts > .post {
  padding: 20px;
  background: #FFFFFF;
  margin-bottom: 2em;
  border-radius: 3px;
  border-left: 3px #2A8644 solid;
  box-shadow: 0 2px 0 #CCC;
}

.posts > .post p {
  font-size: 16px;
  text-align: left;
  line-height: 2;
}

.post-date {
  color: #888;
  font-size: 15pt;
}

.post-title {
  font-size: 15pt;
  color: #333;
}

.post-content {
  font-size: 11pt;
  color: #888;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.header {
  width: 100%;
  height: 320px;
  color: #eee;
  text-align: left;
  overflow: hidden;
  box-shadow: 0 0 10px black;
}

.header-bg {
  position: relative;
}

.header-bg .paper {
  position: absolute;
  top: -300px;
  z-index: -1;
  box-shadow: 0 0 20px black;
  width: 1000px;
  height: 1000px;
  transform: rotate(20deg);
}

.header-bg .paper.p1 {
  left: -600px;
  background: #243035;
}

.header-bg .paper.p2 {
  left: 0px;
  background: #C55447;
}

.header-bg .paper.p3 {
  left: 450px;
  background: #3A816F;
}

.header-bg .paper.p4 {
  left: 700px;
  background: #353437;
}

.header-text-container {
  position: relative;
  left: 30px;
  top: 200px;
}

.my-name {
  margin-top: 15px;
  font-size: 17pt;
}

.intro-text {
  font-size: 10pt;
  margin-top: 5px;
}

.intro-text a {
  color: #eee;
}

.site {
  font-size: 115%;
  text-align: justify;
  margin: 3em auto 2em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  font-size: 15pt;
  color: #333;
}

.post img {
  width: 100%;
}

.post .image_caption {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 1;
  color: #999;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
}

.post code {
  background-color: #eef;
  padding: 1px 2px;
  margin: 0 2px;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

@media (max-width: 767px) {
  .header {
    height: 200px;
  }

  .header-text-container {
    left: 10px;
    top: 100px;
  }
}
