<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div class="header">
          <div class="container">
            <div class="header-bg">
              <div class="paper p1"></div>
              <div class="paper p2"></div>
              <div class="paper p3"></div>
              <div class="paper p4"></div>
            </div>

            <div class="header-text-container">
              <div class="my-name">Guanlun Zhao</div>
              <div class="intro-text">
                Web developer and learner who occasionally writes.<br>
                Find me on Github: <a href="https://github.com/guanlun">github.com/guanlun</a><br />
              </div>
            </div>
          </div>
        </div>

        <div class="container site">
          <div class="row">
            <div class="col-sm-12">
              {{ content }}
            </div>
          </div>
        </div>

    </body>
</html>
